@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
  --top-bar-padding-top: 64px;
  --top-bar-padding-bottom: 150px;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #383838;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: #d50c2d;
  text-decoration: none;
}

.hc-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100vw;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 1200;
}

.hc-top-bar__container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}

.hc-logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
}

.hc-logo__icon .logo-text {
  fill: #d50c2d;
}

.hc-top-bar a {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-auto-flow: column;
  color: #383838;
}

.hc-logo__icon {
  height: 21px;
  z-index: 2;
  margin-right: 15px;
}

.hc-logo__cp-name {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  white-space: nowrap;
}

.hc-logo__responsive {
  display: none;
  margin: 15px;
  width: 37px;
  height: 34px;
  fill: #fff;
}

.content {
  display: grid;
  padding-top: var(--top-bar-padding-top);
  padding-bottom: var(--top-bar-padding-bottom);
  min-height: calc(
    100vh - var(--top-bar-padding-top) - var(--top-bar-padding-bottom)
  );
  background-color: #f5f5f5;
  grid-column-gap: 25px;
  grid-template-columns: auto minmax(1px, 1440px) auto;
  grid-template-areas: ". page-content .";
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: page-content;
}

.static-page__content {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 600px;
  text-align: center;
}
.static-page__icon-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #e8e8e8;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.static-page__app-logo {
  width: 100px;
  height: 100px;
}

.static-page__headline {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.static-page__text {
  font-size: 16px;
}

.static-page__button {
  display: grid;
  justify-content: center;
  justify-self: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-auto-flow: column;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  background-color: #d50c2d;
}

.static-page__button:hover {
  background-color: #f2183c;
}

.hc-legal-footer {
  position: absolute;
  right: 20px;
  bottom: 17px;
  display: flex;
  z-index: 1;
}

.hc-legal-footer__link {
  font-size: 0.75rem;
}
.hc-legal-footer__divider,
.hc-legal-footer__link {
  color: #8a8a8a;
  line-height: 1;
}

.hc-legal-footer__divider {
  margin: 0 5px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
